[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "==5.15.6"
pandas = "==1.4.2"
lxml = "==4.8.0"
exchange-calendars = "==3.6.2"

[dev-packages]

[requires]
python_version = "3.10"
